<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
    <div class="panel-heading">
      Abc
    </div>
    <div class="panel-body">
      <img src="assets/2.jpg" class="img-responsive">
       <p>hgdhgfhdjhbhfjd hfhjgfh jhdfhsdgfh
         dfhdfhd jhfhdgfhjdsg hjdgfjhgfs hdfhsdk
       </p>
    </div>
    <div class="panel-footer">
      Readmore
    </div>
    </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-primary">
        <div class="panel-heading">
          Abc
        </div>
        <div class="panel-body">
          <img src="assets/3.jpg" class="img-responsive">
           <p>hgdhgfhdjhbhfjd hfhjgfh jhdfhsdgfh
             dfhdfhd jhfhdgfhjdsg hjdgfjhgfs hdfhsdk
           </p>
        </div>
        <div class="panel-footer">
          Readmore
        </div>
        </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
            <div class="panel-heading">
              Abc
            </div>
            <div class="panel-body">
              <img src="assets/2.jpg" class="img-responsive">
               <p>hgdhgfhdjhbhfjd hfhjgfh jhdfhsdgfh
                 dfhdfhd jhfhdgfhjdsg hjdgfjhgfs hdfhsdk
               </p>
            </div>
            <div class="panel-footer">
              Readmore
            </div>
            </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-primary">
                <div class="panel-heading">
                  Abc
                </div>
                <div class="panel-body">
                  <img src="assets/3.jpg" class="img-responsive">
                   <p>hgdhgfhdjhbhfjd hfhjgfh jhdfhsdgfh
                     dfhdfhd jhfhdgfhjdsg hjdgfjhgfs hdfhsdk
                   </p>
                </div>
                <div class="panel-footer">
                  Readmore
                </div>
                </div>
                </div>
            
  </div>
  