<h3>welcome my web application</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
    
<button (click)="mytest()" class="btn btn-success">Test</button>
&nbsp;
<button (click)="mytest2()" class="btn btn-success">Test2</button>

<p>dhds dghgh hgfhdgfhd dhdhhs dhdghdgh hdghdghd dsh hdghd 
    bbnc x nbncxbnxbnzbnbcnbnbv bdnbcnbnbncnmbcn nbndbcn 
    bc cvbjcbjb jbjdbjdbjd djbjdbjdbc d cdc djcbjbcjbcdbc
    bfjdbfdbfdbf df dfdbdbdbdhbdbfhdbhfddhfj
    d jdhfjdhfjd fhd dhfdhfdfbdjfb jdcjdncnd cndccbn
    djjdbjdbvjdbv dvjvbjdv dvd vdvbdjvbdjvbdjv d
</p>
<p>dhds dghgh hgfhdgfhd dhdhhs dhdghdgh hdghdghd dsh hdghd 
    bbnc x nbncxbnxbnzbnbcnbnbv bdnbcnbnbncnmbcn nbndbcn 
    bc cvbjcbjb jbjdbjdbjd djbjdbjdbc d cdc djcbjbcjbcdbc
    bfjdbfdbfdbf df dfdbdbdbdhbdbfhdbhfddhfj
    d jdhfjdhfjd fhd dhfdhfdfbdjfb jdcjdncnd cndccbn
    djjdbjdbvjdbv dvjvbjdv dvd vdvbdjvbdjvbdjv d
</p>
<p>dhds dghgh hgfhdgfhd dhdhhs dhdghdgh hdghdghd dsh hdghd 
    bbnc x nbncxbnxbnzbnbcnbnbv bdnbcnbnbncnmbcn nbndbcn 
    bc cvbjcbjb jbjdbjdbjd djbjdbjdbc d cdc djcbjbcjbcdbc
    bfjdbfdbfdbf df dfdbdbdbdhbdbfhdbhfddhfj
    d jdhfjdhfjd fhd dhfdhfdfbdjfb jdcjdncnd cndccbn
    djjdbjdbvjdbv dvjvbjdv dvd vdvbdjvbdjvbdjv d
</p>
</div>
</div>
</div>
