<!-----<app-tonav></app-tonav>-->

<app-topnav></app-topnav>
<login></login>
<br>
<br>
<!--<app-aboutus></app-aboutus>---->
<!----<h3>I am in app component</h3>
<div class='app-servers'></div>-->
<!-----<app-myservices></app-myservices>
<app-myarray></app-myarray>
<app-banner></app-banner>
<div class="container-fluid">
  <div class="row intro">
    <div class="col-sm-12"><app-infoblock></app-infoblock></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
        <app-aboutus></app-aboutus>
    </div>
    <div class="col-sm-3"><app-contactus></app-contactus></div>
  
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <app-category></app-category>
    </div>
    <div class="col-sm-9">
      <app-gallary></app-gallary>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row intro">
    <div class="col-sm-12"><app-infoblock></app-infoblock></div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <app-client></app-client>
  </div>
</div>
<br><br><br><br><br><br><br><br><br>
<div class="container-fluid myfooter">
  <div class="row">
    <div class="col-sm-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>------->
