<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!----<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>--->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="aboutus">Home</a></li>
        <li><a routerLink="aboutus">About</a></li>
        <li><a routerLink="array-example">Array example</a></li>
        <li><a routerLink="api-example">Api services</a></li>
        <li><a routerLink="my-modal">modal example</a></li>
        <li><a routerLink="myuser">my user</a></li>
        <li><a routerLink="contact">contact</a></li>
        <li><a routerLink="crud">crud</a></li>
        <li><a routerLink="formvalidation">reactive form validation</a></li>
        <li><a routerLink="jkl/add">add</a></li>
        <li><a routerLink="mytest">mytest</a></li>
        <li><a routerLink="servers">Servers</a></li>
        <li><a routerLink="new">New</a></li>




      </ul>        
      
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-------- all the contents of each component will catch under "component and from component it transfer to "router -
  outlet and from router outlat it display in the page as below-->
      <router-outlet></router-outlet>
    