<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">This data loaded on page load</h3>
      <table class="table table-bordered table-hover">
          <tr>
            <th>fullname</th>
            <th>mobile</th>
            <th>E-mail</th>
           <th>city</th>
            <th>Dob</th>
            <th>age</th>
          </tr>
          <tr *ngFor="let row of myuser">
              <td>{{row.fullname}}</td>
              <td>{{row.mobile}}</td>
              <td>{{row.email}}</td>
              <td>{{row.city}}</td>
              <td>{{row.dob}}</td>
              <td>{{row.age}}</td>




          </tr>
      </table>
    </div>
  </div>
  <div class="row">
     <div class="col-sm-6">
       <button class="btn btn-danger" (click)="getjsondata()">Load local json</button>
       <br><br>
       <table class="table table-bordered">
         <tr>
           <th>Fullname</th>
           <th>Mobileno</th>
           <th>city</th>
         </tr>
         <tr *ngFor="let myuser of alljsonuser">
           <td>{{myuser.name}}</td>
           <td>{{myuser.mobile}}</td>
           <td>{{myuser.city}}</td>

         </tr>
       </table>
     </div>
     <div class="col-sm-6">
        <button class="btn btn-danger" (click)="getexternaljson()">Load local json</button>
        <br><br>
       <table class="table table-bordered">
         <tr>
           <th>car Model</th>
           <th>price</th>
           <th>Fuel type</th>
         </tr>
         <tr *ngFor="let mycar of cardata">
           <td>{{mycar.model}}</td>
           <td>{{mycar.price}}</td>
           <td>{{mycar.fuelType}}</td>

         </tr>
       </table>
     </div>
  </div>
</div>